.app {
    margin: 2rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    
}

.food {
    font-weight: 600;
    font-size: 1.2rem;
}

.food-nutrition {
    margin: 1rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5rem;
    background-color: aquamarine;
    font-weight: 400;
}

.result {
    display: flex;
    flex-direction: column;
}