button {
  border-radius: 6px;
  border: 1px solid #000;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.5rem;
  padding: 0.8rem;
  line-height: 1;
}

button:hover {
  transform: scale(1.05);
}

.primary-button {
  font-size: 1.3rem;
  background-color: #10c410;
  color: white;
}

.secondary-button {
  font-size: 1rem;
  font-weight: 600;
  background-color: #10c410;
  color: #161616;
  padding: 0.7rem;
}


input {
  font-size: 1.4rem;
  padding: 0.5rem;
  width: min(50vw, 20rem);
  border: 1px solid #000;
  border-radius: 6px;
}

input.number {
  width: 5rem;
  font-size: 1.3rem;
  padding: 0.5rem;
}

.form-control {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  display: grid;
  align-items: center;
  grid-template-columns: 9rem auto;
  gap: 0.5em;
  align-content: center;
  justify-content: center;
}

input[type="select"] {
  appearance: none;
  background-color: transparent;
  border: none;
}

.select {
  width: 9rem;
  border: 1px solid #000;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.2rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  margin-left:6px;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #000;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  background-color: white;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 1em;
  height: 1em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: #ff691e;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: none;
  outline-offset: max(2px, 0.15em);

}